

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Create New Poll</h4>
        <div class="d-md-flex align-items-center border-top bg-white p-4 mb-3 justify-content-center flex-column">
            <h4 class="w-50 card-subtitle d-flex justify-content-center gap-2"><i class="bi bi-1-square"></i> Add Title</h4>
            <div class="w-50">
                <input type="text" placeholder="Poll Title" class="form-control rounded-pill"  [(ngModel)]="newPoll.title">
            </div>
        </div>
        <div class="d-md-flex align-items-center border-top bg-white p-4 mb-3 justify-content-center flex-column">
            <h4 class="w-50 card-subtitle d-flex justify-content-center gap-2"><i class="bi bi-2-square"></i> Add Options</h4>
            <app-option-cards (emitOptions)="addPollOptions($event)"></app-option-cards>
        </div>
        <div class="d-md-flex align-items-center border-top bg-white p-3 justify-content-center flex-column">
            <h4 class="w-50 card-subtitle d-flex justify-content-center gap-2"><i class="bi bi-3-square"></i> Generate</h4>
            <button type="button" class="btn mt-3 btn-outline-secondary btn-rounded" [disabled]="!newPoll.title" (click)="createPoll()"><i [class]="!newPoll.title ? 'bi bi-x-circle' : 'bi bi-check-circle'"></i> Create Poll </button>
        </div>
    </div>
</div>   
