// 
// Xtreme Angular
// 

//(Required file)
@import "variable";

// Import Bootstrap source files (Required file)
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "../../../node_modules/bootstrap-icons/font/bootstrap-icons.scss";

//This is for the components (Required file)
@import "core/core";
@import "scafholdings";
@import "components";

//This is for the responsive (Required file)
@import "responsive";

//In This scss you can write your scss
@import "custom";

.card-subtitle {
    margin-bottom: 15px;
}

.btn.btn-outline-secondary:disabled {
    color: #ff0000;
    border-color: #ff00009a;
}

.btn.btn-outline-secondary:not(:disabled) {
    color: #03bf09;
    border-color: #6aa16c;

    &:hover {
        background: #233242;
    }
}
