
<div class="d-flex flex-row  row mt-3 g-3 flex-wrap justify-content-between align-items-start">

    <div class="col-12 border border-dark-subtle rounded-4 p-2 mb-2 border-opacity-60">
        <app-active-poll class="card"></app-active-poll>
    </div>   
    <div class="col-12 col-md-6 d-flex flex-column">
        <div class="card col-12 d-flex flex-col border border-dark-subtle rounded-4 p-2 mb-2 border-opacity-50">
            <app-winners-widget></app-winners-widget>
        </div>    
    </div>
    <div class="col-12 col-md-6 d-flex flex-column">
        <div class="card col-12 d-flex flex-col border border-dark-subtle rounded-4 p-2 mb-2 border-opacity-50">
            <app-all-options></app-all-options>
        </div>    
    </div>

</div>


<!-- 

        navigation?
    |  Active Poll   | -> i guess just in here, if no poll then mention no poll active 
    |  New Poll      | -> maybe as a button, pulls a modal up when done redirect to active poll component? 
    |  Poll History  | -> list with all previous polls
    |  Poll Reports  | -> graphs to show what won the most etc 

 -->




