.card-subtitle {
    margin-bottom: 15px;
}

.btn.btn-outline-secondary:disabled {
    color: #ff0000;
    border-color: #ff00009a;
}

.btn.btn-outline-secondary:not(:disabled) {
    color: #03bf09;
    border-color: #6aa16c;

    &:hover {
        background: #233242;
    }
}
