/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    
    font-family: 'Space Grotesk', sans-serif;
}

* {
    font-family: "Asap", sans-serif;
    font-family: "Space Grotesk", sans-serif !important;
}

.mat-typography h3 {
    line-height: 15px;
    font-size: 15px;
}